{% extends 'layout.html' %}

{% load static %}

{% block title %} Product Details {% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ product.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="#">{{ product.category.all.first.name }}</a>
                            <span>{{ product.name }}, {{ product.brand }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="{{ product.image }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>

                        <div class="product__details__price">€ {{ product.price }}</div>
                        <p>{{ product.description }}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">ADICIONAR AO CARRINHO</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Disponibilidade: </b>
                                <span>Em stock: {{ product.quantity }} unidade{{ product.quantity|pluralize }}</span>
                            </li>
                            <li><b>Marca: </b> <span>{{ product.brand }}</span></li>
                            <li><b>Categoria: </b>
                                {% for cat in product.category.all %}
                                    <span>{{ cat.name }} </span>
                                {% endfor %}
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock %}